In [6]:
m=[10,20,30,40]
for a in range(len(m)):
    print(a[m])

<class 'TypeError'>: 'int' object is not subscriptable

In [7]:
import math

In [8]:
import random

In [11]:
m=[10,20,30,40]
for i in range(len(m)):
    print(m[i])

10
20
30
40

In [15]:
n=[55,66,88,99,77,44,55]
for i in range(len(n)):
    print('n=', n[i])

n= 55
n= 66
n= 88
n= 99
n= 77
n= 44
n= 55

In [19]:
h=['jai kumar','mahesh kumar','manohar l','jayaraj i']
for i in range(len(h)):
    print('h=', h[i])

h= jai kumar
h= mahesh kumar
h= manohar l
h= jayaraj i

In [21]:
v=['emp id:1212', 'name: harish', 'department:Admin', 'location:bangalore', 'emilid:harishk@zti.com']
for i in range(len(v)):
    print('Emp Details=',v[i])

Emp Details= emp id:1212
Emp Details= name: harish
Emp Details= department:Admin
Emp Details= location:bangalore
Emp Details= emilid:harishk@zti.com

In [22]:
g=[88,99,111,121,131,141,151]

In [24]:
g.append(444)

In [25]:
g

[88, 99, 111, 121, 131, 141, 151, 444]

In [27]:
g.append(55555)

In [28]:
g

[88, 99, 111, 121, 131, 141, 151, 444, 55555]

In [30]:
g.append([66,8888])

In [31]:
g

[88, 99, 111, 121, 131, 141, 151, 444, 55555, [66, 8888]]

In [32]:
g.extend([8989,9898,77777])

In [33]:
g

[88, 99, 111, 121, 131, 141, 151, 444, 55555, [66, 8888], 8989, 9898, 77777]

In [34]:
g.extend(['ask', 'mkr', 'jkr'])

In [35]:
g

[88,
 99,
 111,
 121,
 131,
 141,
 151,
 444,
 55555,
 [66, 8888],
 8989,
 9898,
 77777,
 'ask',
 'mkr',
 'jkr']

In [37]:
print('g=', g)

g= [88, 99, 111, 121, 131, 141, 151, 444, 55555, [66, 8888], 8989, 9898, 77777, 'ask', 'mkr', 'jkr']

In [39]:
print('g=', g, end=" ")

g= [88, 99, 111, 121, 131, 141, 151, 444, 55555, [66, 8888], 8989, 9898, 77777, 'ask', 'mkr', 'jkr']

In [40]:
g.insert(6,'sunnel')

In [41]:
print('g=', g)

g= [88, 99, 111, 121, 131, 141, 'sunnel', 151, 444, 55555, [66, 8888], 8989, 9898, 77777, 'ask', 'mkr', 'jkr']

In [42]:
g.insert(8,'ganesh')

In [43]:
print('g=', g)

g= [88, 99, 111, 121, 131, 141, 'sunnel', 151, 'ganesh', 444, 55555, [66, 8888], 8989, 9898, 77777, 'ask', 'mkr', 'jkr']

In [44]:
# removing exacat value

g.remove(88)

In [50]:
print('g=', g)

g= [99, 111, 121, 131, 'sunnel', 151, 'ganesh', 444, 55555, [66, 8888], 8989, 9898, 77777, 'ask', 'mkr', 'jkr']

In [46]:
g.remove(g[4])

In [49]:
print('g=', g)

g= [99, 111, 121, 131, 'sunnel', 151, 'ganesh', 444, 55555, [66, 8888], 8989, 9898, 77777, 'ask', 'mkr', 'jkr']

In [48]:
print('g=', g)

g= [99, 111, 121, 131, 'sunnel', 151, 'ganesh', 444, 55555, [66, 8888], 8989, 9898, 77777, 'ask', 'mkr', 'jkr']

In [51]:
# removing last added value by using pop
g.pop()

'jkr'

In [52]:
print('g=', g)

g= [99, 111, 121, 131, 'sunnel', 151, 'ganesh', 444, 55555, [66, 8888], 8989, 9898, 77777, 'ask', 'mkr']

In [53]:
g.pop()

'mkr'

In [54]:
print('g=', g)

g= [99, 111, 121, 131, 'sunnel', 151, 'ganesh', 444, 55555, [66, 8888], 8989, 9898, 77777, 'ask']

In [55]:
g.pop()

'ask'

In [56]:
print('g=', g)

g= [99, 111, 121, 131, 'sunnel', 151, 'ganesh', 444, 55555, [66, 8888], 8989, 9898, 77777]

In [57]:
# removing value by using pop with index value
g.pop(4)

'sunnel'

In [58]:
print('g=', g)

g= [99, 111, 121, 131, 151, 'ganesh', 444, 55555, [66, 8888], 8989, 9898, 77777]

In [59]:
g.pop(6)

444

In [60]:
print('g=', g)

g= [99, 111, 121, 131, 151, 'ganesh', 55555, [66, 8888], 8989, 9898, 77777]

In [61]:
# removing value by using del with index value 
del g[6]

In [62]:
print('g=', g)

g= [99, 111, 121, 131, 151, 'ganesh', [66, 8888], 8989, 9898, 77777]

In [63]:
g.sort()

<class 'TypeError'>: '<' not supported between instances of 'str' and 'int'

In [64]:
g.pop(5)

'ganesh'

In [65]:
g.sort()

<class 'TypeError'>: '<' not supported between instances of 'list' and 'int'

In [66]:
g.pop(5)

[66, 8888]

In [67]:
print('g=', g)

g= [99, 111, 121, 131, 151, 8989, 9898, 77777]

In [71]:
g.insert(2,50)

In [72]:
print('g=', g)

g= [99, 111, 50, 121, 131, 151, 8989, 9898, 77777]

In [73]:
g.sort()

In [74]:
print('g=', g)

g= [50, 99, 111, 121, 131, 151, 8989, 9898, 77777]

In [80]:
# reverse sort 
g.sort(reverse=True)

In [79]:
print('g=', g)

g= [77777, 9898, 8989, 151, 131, 121, 111, 99, 50]

In [81]:
# count of elements 
g=g*3

In [82]:
print('g=', g)

g= [77777, 9898, 8989, 151, 131, 121, 111, 99, 50, 77777, 9898, 8989, 151, 131, 121, 111, 99, 50, 77777, 9898, 8989, 151, 131, 121, 111, 99, 50]

In [83]:
g.count(9898)

3

In [84]:
g.count(151)

3

In [85]:
g.count(121)

3

In [92]:
# list comprenssion
b=[ele for ele in range(10)]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
b=[ele*ele for ele in range(12)]
print(b)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [100]:
b=[ele for ele in range(20) if ele%2==0]

In [101]:
print(b)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [102]:
b=[ele for ele in range(100) if ele%5==0]

In [104]:
print('b=', b)

b= [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [111]:
# list compression 1. list experssion 2. itaretion 3.condision 

b=[ele*ele for ele in range(10) if ele%5==0]
print('b=', b)

b= [0, 25]

In [112]:
# creating tuple
o=()

In [113]:
o

()

In [119]:
j=(44,55,66)

In [120]:
j

(44, 55, 66)

In [121]:
j[1]

55

In [122]:
j[0:1]

(44,)

In [123]:
#coverting tuple to list 

k=list(j)

In [125]:
k=j[2,25]

<class 'TypeError'>: tuple indices must be integers or slices, not tuple

In [126]:
j

(44, 55, 66)

In [127]:
k

[44, 55, 66]

In [128]:
j

(44, 55, 66)

In [131]:
k

[44, 55, 66]

In [136]:
k[1]=888

In [137]:
j

(44, 55, 66)

In [138]:
k

[2, 888]

In [139]:
# reassigning element 

k[0]=77

In [140]:
k

[77, 888]

In [144]:
#coverting list to tuple


k=tuple(j)

In [143]:
j

(44, 55, 66)

In [145]:
# Creating a string
#Single quote
a='hellow world'

In [146]:
a

'hellow world'

In [147]:
# double quote
b="how is your's sun"

In [148]:
b

"how is your's sun"

In [156]:
#  triple quoote " this is used print a multiple lines

v=""" hi hpw are you
how is your job
in which project you are working right now"""

In [157]:
v

' hi hpw are you\nhow is your job\nin which project you are working right now'

In [160]:
# capitalize


Z="need to complte all the tasks today"

In [161]:
Z.capitalize()

'Need to complte all the tasks today'

In [162]:
c="any update form team?"

In [163]:
c.capitalize()

'Any update form team?'

In [167]:
c.center(12,"$")

'any update form team?'

In [169]:
c.center(10,"@")

'any update form team?'

In [172]:
c.count('d')

1

In [171]:
c

'any update form team?'

In [173]:
c.count('f')

1

In [174]:
c.count('d', 12, len(c))

0

In [176]:
c.count('u', 7, len(c))

0

In [179]:
c.count('u')

1

In [181]:
b='jk jak janajan jaknjk jahagana jahajajaja hana hanabee haneevaa gagana gagananana'

In [183]:
b.count('j')

11

In [184]:
b.count('h')

5

In [186]:
# startswith function 
# endswith function

b.startswith('jk')

True

In [187]:
b.endswith('na')

True

In [188]:
b.endswith('na', 7,len(b))

True

In [189]:
b.startswith('jk',6, len(b))

False

In [190]:
b.startswith('jk',1, len(b))

False

In [191]:
b.startswith('jk',0, len(b))

True

In [192]:
b.startswith('j',6, len(b))

False

In [194]:
b.startswith('j',0, len(b))

True

In [196]:
b.startswith('h',2, len(b))

False

In [197]:
b.startswith('g',6, len(b))

False

In [200]:
b.startswith('g',1, len(b))

False

In [201]:
# index find
b.find('b')

51

In [202]:
# index find form revese
b.rfind('b')

51

In [203]:
b.index('b')

51

In [205]:
b.rindex('b')

51

In [206]:
b.index('k')

1

In [207]:
b.rindex('k')

20

In [208]:
a="hello"

In [209]:
a.isalpha()

True

In [210]:
a.isdigit()

False

In [213]:
h='45455544'
h.isdigit()

True

In [214]:
h.isalpha()

False

In [218]:
a.islower()

True

In [217]:
a.isupper()

False

In [220]:
a.istitle()

False

In [222]:
u= "Hello How Are You"
u.istitle()

True

In [223]:
v= "Hello how are you"
v.istitle()

False

In [225]:
# left justify (ljust) 
# rihgt justify (rjust) 
# upper case 
# lower case 

v.ljust(25, " ")

'Hello how are you        '

In [226]:
# rihgt justify (rjust) 

v.rjust(25, " ")

'        Hello how are you'

In [230]:
# upper case 
v.upper()

'HELLO HOW ARE YOU'

In [228]:
v.lower()

'hello how are you'

In [235]:
# to store the value in another veriable

y=v.upper()

In [236]:
y

'HELLO HOW ARE YOU'

In [233]:
z=v.lower()

In [234]:
z

'hello how are you'

In [237]:
# strip function is used to remove the spaces in left and right side
# ltrip function is used to remove the spaces in left side only
# rtrip function is used to remove the spaces in right side only
n="     welcome to our new world    "

In [238]:
n.strip()

'welcome to our new world'

In [239]:
n.lstrip()

'welcome to our new world    '

In [240]:
n.rstrip()

'     welcome to our new world'

In [251]:
# min functions , 
# max functions, 
# replace functions,
# occuerance replaceing 

h=max(10.20,55,88,99,1,2,3,4,5,7)
print(h)

99

In [245]:
k=min(5, 10,45,85,78,7,4)

In [255]:
print(k)

(44, 55, 66)

In [247]:
x = max("Mike", "John", "Vicky")

In [248]:
print(x)

Vicky

In [249]:
y = min("Mike", "John", "Vicky")

In [250]:
print(y)

John

In [256]:
# replace functions,
# occuerance replaceing 

g=" my name is Sunnel kumar "

In [257]:
g.replace("name", "NAME")

' my NAME is Sunnel kumar '

In [258]:
g.replace("Sunnel", "SUNNEL")

' my name is SUNNEL kumar '

In [261]:
g.replace("Sunnel", "RAMESH")

' my name is RAMESH kumar '

In [263]:
# occuerance replaceing 
g.replace("a","@", 2) # a is replacing with @ and 2 is indicates occureses

' my n@me is Sunnel kum@r '

In [264]:
g.replace("y","9", 2)

' m9 name is Sunnel kumar '

In [265]:
b="kamal kanth are going with kamalesh to discuss on project k"

In [266]:
b.replace("k", " ", 3) # k is replacing with " " and 3 is indicates occureses

'  amal  anth are going with  amalesh to discuss on project k'

In [267]:
b.replace("k", " ", 4) # k is replacing with " " and 4 is indicates occureses

'  amal  anth are going with  amalesh to discuss on project  '

In [268]:
b.replace("k", " ", 1) # string is replaces with occures but not stored in the variable at each time

'  amal kanth are going with kamalesh to discuss on project k'

In [271]:
print('b=',b.replace("k", " ", 0)) # nothig is happen in the string
print('b=',b.replace("k", " ", 1)) # one occurance is changed 
print('b=',b.replace("k", " ", 2)) # two occurances are changed 
print('b=',b.replace("k", " ", 3)) # three occurances are changed

b=  kamal kanth are going with kamalesh to discuss on project k
b=   amal kanth are going with kamalesh to discuss on project k
b=   amal  anth are going with kamalesh to discuss on project k
b=   amal  anth are going with  amalesh to discuss on project k

In [275]:
# Split function 
print('b=', b.split(" ",1))
print('b=', b.split(" ",2))
print('b=', b.split(" ",3))

b= ['', 'kamal kanth are going with kamalesh to discuss on project k']
b= ['', 'kamal', 'kanth are going with kamalesh to discuss on project k']
b= ['', 'kamal', 'kanth', 'are going with kamalesh to discuss on project k']

In [274]:
b.split(" ",3)

['', 'kamal', 'kanth', 'are going with kamalesh to discuss on project k']

In [276]:
b.split(" ",3)

['', 'kamal', 'kanth', 'are going with kamalesh to discuss on project k']

In [277]:
d="can you send me the file as soon as posiible"
d.split(" ",3)

['can', 'you', 'send', 'me the file as soon as posiible']

In [279]:
print('d=', d.split(" ",0))
print('d=', d.split(" ",1))
print('d=', d.split(" ",2))
print('d=', d.split(" ",3))

d= ['can you send me the file as soon as posiible']
d= ['can', 'you send me the file as soon as posiible']
d= ['can', 'you', 'send me the file as soon as posiible']
d= ['can', 'you', 'send', 'me the file as soon as posiible']

In [287]:
for word in d:
    print(word)

c
a
n

y
o
u

s
e
n
d

m
e

t
h
e

f
i
l
e

a
s

s
o
o
n

a
s

p
o
s
i
i
b
l
e

In [286]:
q=" java program"
for word in q:
    print(word)

j
a
v
a

p
r
o
g
r
a
m

In [296]:
for f in range(500,700,880):
    if f>500:
        print(f)

In [298]:
for f in range(500,700,25):
    if f>500:
        print(f)

525
550
575
600
625
650
675

for j in range(100, 800, 50):

In [309]:
for j in range(100,800, 50):
    if j>100:
        print('j=', j)

j= 150
j= 200
j= 250
j= 300
j= 350
j= 400
j= 450
j= 500
j= 550
j= 600
j= 650
j= 700
j= 750

In [311]:
for j in range(100,800,50):
    if j>200:
        print('j=', j)

j= 250
j= 300
j= 350
j= 400
j= 450
j= 500
j= 550
j= 600
j= 650
j= 700
j= 750